/*Global Variables*/
@font-face {
  font-family: typewriter;
  src: url(TT2020StyleE-Regular.woff2);
}

:root {
  --text: #000000;
  --text-red: #e14a49;
  --text-green: #15b64f;
  --text-blue: #3f76ed;
  --text-purple: #9b4ff0;
  /* Page Colors */
  --page: #f9f0ddb8;
  --page-manila: #f3deaf;
  --page-card: #f3deaf;
  --grid-size: 32px 32px;
  font-family: typewriter;
}



@media (prefers-color-scheme: dark) {
  :root {
    --page: #00000077;
    --text: #ffffff;
  }

  body {
    color: #000000;
    background-color: #101010;
  }

  #mainContent {
    background-color: #000;
  }

}

div.page-grid {
  background-size: var(--grid-size);
  background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
  background-color: var(--page);
  /* background-color: var(--page-white); */
}

div.page-dot {
  font-family: typewriter;
  background-size: var(--grid-size);
  background-image: radial-gradient(circle, var(--text) 1px, var(--page) 1px);
  /* background-color: var(--page-white); */
  color: var(--text)
}

div.page-manilla {
  background-color: var(--page-manila);
  /* background-color: var(--page-white); */
}

body {
  margin: 0;
  padding: 0;
  font-family: typewriter;
  font-size: 1.5em;
  color: var(--text);
  padding: 1em;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.447), rgba(255, 255, 255, 0.479));
  background-image: url("../img/alex-dukhanov-ZxZQk7777R4-unsplash.jpg"); */
  background-size: cover;
}

img {
  opacity: 1;
}

/* Create dark grey header with a white logo */

header {
  background-color: #2B2B2B;
  height: 10%;
  width: 100%;
  opacity: .9;
  margin-bottom: 5px;
  display: inline-block;
}

header h1.logoimage {
  height: 100%;
  width: 100%;
}

header h1.logo {
  margin: 0;
  font-size: 3.0em;
  color: var(--text);
  text-transform: uppercase;
  float: left;
  /* text-align: center; */
}

header h1.logo:hover {
  color: #cd7ae2;
  text-decoration: none;
}

/* Center the body content */

.container {
  width: 90%;
  margin: 0 auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.container-flex {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

div.jumbo {
  padding: 10px 0 30px 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-image: linear-gradient(217deg, rgba(255, 0, 0, .8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
}

h2 {
  font-size: 2em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: var(--text);
}

/* Display navigation links inline */
.menu {
  float: right;
  /* margin-top: 10px; */
  color: var(--text);
}

.menu li {
  display: inline;
}

.menu li+li {
  margin-left: 15px;
}

.menu li a {
  color: var(--text);
  text-decoration: none;
}

/* Contact form */
form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}


form input#name,
form input#email,
form input#subject {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}

form textarea#message,
form textarea#prompt {
  width: 500px;
  height: 100px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1em;
}

form input#submit {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}

form input#submit:hover {
  cursor: pointer;
  border: 1px solid #c1c1c1;
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#dbdbdb, endColorstr=#cccccc);
}

/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
}